### Haskell
dist
dist-newstyle
dist-newstyle/*
dist-newstyle/*.*
dist-newstyle/cache
dist-newstyle/packagedb
dist-newstyle/tmp
dist-newstyle/build/aarch64-osx/ghc-9.6.5/grfn-1.0.0.0/*
dist-newstyle/build/aarch64-osx/ghc-9.6.5/grfn-1.0.0.0/*.* 
!/dist-newstyle/build/aarch64-osx/ghc-9.6.5/grfn-1.0.0.0/doc
dist-newstyle/build/aarch64-osx/ghc-9.6.5/grfn-1.0.0.0/t/grfn-test/build/grfn-test/grfn-test
dist-newstyle/build/aarch64-osx/ghc-9.6.5/grfn-1.0.0.0/x/grfn-exe/build/grfn-exe/grfn-exe
grfn-1.0.0.0-inplace
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog
.virtualenv
.hsenv
.hpc
.cabal-sandbox/
cabal.sandbox.config
cabal.config
.ghc.environment.*
hpc*.html
*.tix
.HTF/
#.hie/
# Stack
.stack-work/
# stack.yaml.lock

githubtestkey
githubtestkey.pub

### IDE/support
# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
*~
tags

# IntellijIDEA
.idea/
.ideaHaskellLib/
*.iml

# Atom
.haskell-ghc-mod.json

# VS
.vscode/

# Emacs
*#
.dir-locals.el
TAGS

# other
.DS_Store

# liquid
src/.liquid
**/.liquid/
app/.liquid/

# history
.history/src
.history/test
.history/*